<footer th:fragment="footer" id="site-footer">

  <div class="footer-container">
    <nav class="footer-links">

      <a href="https://discord.gg/YBPsczJJvV" target="_blank">
        Contact Us
      <img src="/images/logos/icons8-discord-new-16.png" alt="Discord" >
      </a>

      <a href="/about">
        About
        <img src="/images/logos/icons8-group-16.png" alt="Us" >
      </a>

      <a href="https://github.com/uprm-inso4101-2025-2026-s2/semester-project-super_cool_minecraft_team" target="_blank">
        GitHub
        <img src="/images/logos/icons8-github-16.png" alt="GitHub" >
      </a>
    </nav>

    <p>
      © 2026 Super Cool Minecraft Team
    </p>
  </div>
</footer>