<header th:fragment="navbar" id="site-header">
  <div class="nav-container">

    <button class="logo-btn" onclick="window.location.href='/'">
      <img src="/images/logos/Header Icon- Rectangular.png" alt="logo">
    </button>

    <div class="logo">
      Minecraft Mod Analyzer
    </div>

    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/upload">Upload</a>
      <a href="/about">About</a>
      <a href="https://github.com/uprm-inso4101-2025-2026-s2/semester-project-super_cool_minecraft_team" target="_blank">GitHub</a>
    </nav>

  </div>
</header>