:root{

--texture-diamond: url("https://art.pixilart.com/eaa620c2c581334.png");

--texture-stone: url("https://www.bing.com/th/id/OIP.9QPyNTe8bR3RX_NmI998iAHaHa?w=169&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.4&pid=3.1&rm=2");

--texture-wood: url("https://tse1.mm.bing.net/th/id/OIP.4CQqjxgX1v2CAwihGvPWRgAAAA?pid=ImgDet&w=150&h=150&c=7&dpr=1,4&o=7&rm=3");

}
