<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Upload Modpack</title>

  <link rel="stylesheet" href="/images/textures/textures.css">
  <link rel="stylesheet" href="/CSS_Files/homepage.css">
  <link rel="stylesheet" href="/CSS_Files/upload.css">
  <link rel="icon" type="image/x-icon" href="/images/logos/Header Icon- Cuadrado.ico">
</head>

<body id="page-upload">

  <header th:replace="~{components/navbar :: navbar('upload')}"></header>

  <section id="page-title">
    <h1>Select Your Operating System For Instructions</h1>

    <p class="page-subtitle">
      Choose your operating system below to see how to compress your Minecraft modpack folder into a .zip file before uploading it.
    </p>
  </section>

  <section class="os-section">

    <div class="os-card windows">
      <img src="/images/boards with logos.png" class="os-icon" alt="Operating system icon">

      <h2>For Windows</h2>

      <a href="#windows-section">
        <button class="details-btn">
          View Windows Details
        </button>
      </a>
    </div>

    <div class="os-card mac">
      <img src="/images/boards with logos.png" class="os-icon" alt="Operating system icon">

      <h2>For macOS</h2>

      <a href="#mac-section">
        <button class="details-btn">
          View macOS Details
        </button>
      </a>
    </div>

    <div class="os-card linux">
      <img src="/images/boards with logos.png" class="os-icon" alt="Operating system icon">

      <h2>For Linux</h2>

      <a href="#linux-section">
        <button class="details-btn">
          View Linux Details
        </button>
      </a>
    </div>

    </section>

   <section id="windows-section" class="os-instructions-section">
    <h2>Windows Instructions</h2>

    <h3 class="instructions-subtitle">How to Create a .zip File on Windows</h3>

    <div class="instructions-text">
      <p class="instruction-intro">
          Follow these steps to compress your Minecraft modpack folder into a .zip file:
      </p>
      <ol class="instruction-list">
        <li>Open File Explorer.</li>
        <li>Locate the folder that contains your Minecraft modpack.</li>
        <li>Right-click the folder.</li>
        <li>Select <b>Send to → Compressed (zipped) folder</b>.</li>
        <li>A .zip file will be created which you can upload to the analyzer.</li>
      </ol>

    </div>

    <div class="instruction-image">
      <a href="/images/windows.png" target="_blank">
        <img src="/images/windows.png" alt="Windows zip example">
      </a>
    </div>

    </section>

    <section id="mac-section" class="os-instructions-section">
    <h2>macOS Instructions</h2>

    <h3 class="instructions-subtitle">How to Create a .zip File on macOS</h3>

    <div class="instructions-text">

      <p class="instruction-intro">
        Follow these steps to compress your Minecraft modpack folder into a .zip file:
      </p>

      <ol class="instruction-list">
        <li>Open Finder.</li>
        <li>Locate the folder that contains your Minecraft modpack.</li>
        <li>Right-click the folder.</li>
        <li>Select <b>Compress</b>.</li>
        <li>A .zip file will be created which you can upload to the analyzer.</li>
      </ol>

    </div>

    <div class="instruction-image">
      <a href="/images/macOS.png" target="_blank">
        <img src="/images/macOS.png" alt="macOS zip example">
      </a>
    </div>

    </section>

  <section id="linux-section" class="os-instructions-section">
    <h2>Linux Instructions</h2>

    <h3 class="instructions-subtitle">How to Create a .zip File  on Linux</h3>

    <div class="instructions-text">

      <p class="instruction-intro">
        Follow these steps to compress your Minecraft modpack folder into a .zip file:
      </p>

      <ol class="instruction-list">
        <li>Open your file manager.</li>
        <li>Locate the folder that contains your Minecraft modpack.</li>
        <li>Right-click the folder.</li>
        <li>Select <b>Compress</b> or <b>Create Archive</b>.</li>
        <li>A .zip file will be created which you can upload to the analyzer.</li>
      </ol>

    </div>

    <div class="instruction-image">
      <a href="/images/linux.png" target="_blank">
        <img src="/images/linux.png" alt="Linux zip example">
      </a>
    </div>


    </section>

    <section class="upload-final">
    <p class="upload-limit">Maximum file size: 1GB</p>

    <div class="instruction-container">
    <p class="upload-text">⬆ Upload your modpack (.zip)</p>
    </div>
    </section>

 <footer th:replace="~{components/footer :: footer}"></footer>

</body>
</html>